. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(chalckboard.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

img {
    height: 100px;
}

.input {
    background-color: aqua;
    align-items: center;
    justify-content: center;



}

.output {
}