.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 500%;


}

. {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(poipu.webp);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

img {
    height: 100px;
}

