.e2mc_logo {
    float: left;
    padding: 2%;
}

.description {
    position: absolute;
    width: 70%;
    left: 15%;
    top: 5%;
    float: right;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    align-content: justify;

}

.text-justified {
    text-align: justify;
    font-weight: bold;

}

.continue-button {

    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(6, 137, 137) 0%, rgb(52, 198, 91));
    /* background-color: #3eb785; */
    color: rgba(241, 247, 247, 0.938);
    transition: background-color transparent;
    margin-bottom: 20px;
    margin-left: 10%;
}

p {
    margin-top: 10px;
    color: #333;
    
}

ul {
    background-color: green;
}


